.landing-page {
    .landing-page__layout {
        // debugging / testing
        // border: solid 1px red;

        display: flex;
        justify-content: center;

        min-height: 500px;
        .landing-page__content__img {
            // debugging / testing
            // border: solid 1px red;
            border-radius: 10px;
            max-height: 500px;
        }
        
        .landing-page__content {
            padding: 2rem;
            text-align: center;
            .landing-page__content__title {
                font-size: 1.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            .landing-page__content__subtitle {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
}
